*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./london-bridge-2324875_1280.jpg);
    width: 100vw;
    height: 100vh;
    background-position: bottom;
    background-size: cover;
}
a{
    text-decoration: none;
}
.logo{
    color: whitesmoke;
    padding-left: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
ul li{
    display: inline;
    padding: 10px 40px;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    transition: ease-in-out 0.3s;
}
ul li a:hover{
        border-bottom: 2px solid red;
}
.contact{
    margin-right: 40px;
    padding: 10px 40px;
    background-color: red;
    padding: 8px 12px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    transition: ease 0.3s;

}
.contact:hover{
    background: transparent;
    color: red;
    border: 1px solid red;
}
.h-content{
    margin-top: 350px;
    margin-bottom: 250px;
    text-align: center;
    color: whitesmoke;
}
.h-content h2{
    font-size: 4vmin;
}
.line{
   width: 150px;
   height: 4px;
   background-color: red;
   margin: 10px auto;
   border-radius: 5px;
}
.h-content h1{
    font-size: 7vmin;
    margin-top: 30px;
    margin-bottom: 15px;
}
.ctn{
    text-decoration: none;
    background-color: red;
    padding: 8px 15px;
    color: whitesmoke;
    border-radius: 15px;
    transition: linear 0.5s;
}
.ctn:hover{
      background: white;
      color: red;
      border: 2px solid red;
}
.events h1{
    color: gray;
    text-align: center;
    font-size: 7vmin;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row img{
    margin-top: 30px;
   
  
}

.row h3{
    font-size: 3vmin;
    text-align: center;
    padding: 10px 50px;
    color: grey;
    margin-bottom: 20px;
}
.row p{
    font-size: 16px;
    text-align: center;
    color: grey;
    margin-bottom: 20px;
}
.cars{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.7)) ,url(./mersadese\ amg.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 40px;
    color: whitesmoke;
}
.main{
    padding-top: 250px;
    padding-left: 40px;
}
.main h2{
    font-size: 7vmin;
    padding-left: 70px;
    text-transform: uppercase;
    margin-bottom:20px;
}
.main .line{
    width: 150px;
    height: 4px;
    background-color: red;
    margin: 10px  0px 10px 300px;
    border-radius: 5px;
}
.main p{
    font-size: 1rem;
    padding-left: 80px;
    margin-bottom: 30px;
    color: lightgrey;
}
.main .ctn{
    margin: 20px 300px ;
}
.tour .row{
    width: 100%;
}
.content-col{
    width: 30%;
}
 .img-col{
    width: 70%;
}
.tour .img-galary{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.img-galary img{
    width: 350px ;
    height: 40vh;
    margin: 20px;
}
.content-col h1{
    font-size: 7vmin;
    color: #484872;
    padding-left: 70px;
}

.content-col p{
    padding-left: 70px;
}
footer{
    width: 100%;
    height: 15vh;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: grey;
}
.copy{
    text-align: center;
    color: whitesmoke;
    padding: 30px;
}
img{
    transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.1);
}
    
/* Media Query for Mobile */
@media screen and (max-width: 768px) {
    .logo {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        padding-top: 20px;
    }
    ul li {
        display: block;
        padding: 5px 0;
    }
    .h-content {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .h-content h2, .h-content h1 {
        font-size: 4vmin;
    }
    .events h1 {
        font-size: 5vmin;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .cars {
        height: 60vh;
    }
    .main {
        padding-top: 150px;
        padding-left: 20px;
    }
    .main h2 {
        font-size: 5vmin;
        padding-left: 0;
    }
    .main .line {
        margin: 10px 0;
    }
    .main .ctn {
        margin: 20px;
    }
}
/* Media Query for Tablets*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo {
        padding-left: 20px;
        padding-top: 30px;
    }

    .h-content {
        margin-top: 200px;
        margin-bottom: 150px;
    }

    .h-content h2 {
        font-size: 5vmin;
    }

    .h-content h1 {
        font-size: 6vmin;
    }

    .main {
        padding-top: 150px;
        padding-left: 20px;
    }

    .main h2 {
        font-size: 6vmin;
        padding-left: 40px;
    }

    .main .line {
        margin: 10px 0px 10px 100px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .content-col, .img-col {
        width: 100%;
    }
}

/* Media Query for PCs  */
@media screen and (min-width: 1025px) {
    .logo {
        padding-left: 30px;
        padding-top: 50px;
    }

    .h-content {
        margin-top: 350px;
        margin-bottom: 250px;
    }

    .h-content h2 {
        font-size: 4vmin;
    }

    .h-content h1 {
        font-size: 7vmin;
    }

    .main {
        padding-top: 250px;
        padding-left: 40px;
    }

    .main h2 {
        font-size: 7vmin;
        padding-left: 70px;
    }

    .main .line {
        margin: 10px 0px 10px 300px;
    }

    .row {
        flex-direction: row;
        justify-content: space-around;
    }

    .content-col {
        width: 30%;
    }

    .img-col {
        width: 70%;
    }
}

/* Media Query for Mobile (max-width: 480px) */
@media screen and (max-width: 480px) {
    .logo {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10px;
      padding-top: 20px;
    }
    ul li {
      display: block;
      padding: 5px 0;
    }
    .h-content {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .h-content h2,
    .h-content h1 {
      font-size: 3vmin;
    }
    .events h1 {
      font-size: 4vmin;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .cars {
      height: 50vh;
    }
    .main {
      padding-top: 100px;
      padding-left: 20px;
    }
    .main h2 {
      font-size: 4vmin;
      padding-left: 0;
    }
    .main .line {
      margin: 10px 0;
    }
    .main .ctn {
      margin: 20px;
    }
  }
  
  /* Media Query for Tablet (min-width: 481px) and (max-width: 768px) */
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .logo {
      padding-left: 20px;
      padding-top: 30px;
    }
    .h-content {
      margin-top: 150px;
      margin-bottom: 150px;
    }
    .h-content h2 {
      font-size: 4vmin;
    }
    .h-content h1 {
      font-size: 5vmin;
    }
    .main {
      padding-top: 150px;
      padding-left: 20px;
    }
    .main h2 {
      font-size: 5vmin;
      padding-left: 40px;
    }
    .main .line {
      margin: 10px 0px 10px 100px;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .content-col,
    .img-col {
      width: 100%;
    }
  }
  
  /* Media Query for Tablets (min-width: 769px) and (max-width: 1024px) */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .logo {
      padding-left: 20px;
      padding-top: 30px;
    }
    .h-content {
      margin-top: 200px;
      margin-bottom: 150px;
    }
    .h-content h2 {
      font-size: 5vmin;
    }
    .h-content h1 {
      font-size: 6vmin;
    }
    .main {
      padding-top: 150px;
      padding-left: 20px;
    }
    .main h2 {
      font-size: 6vmin;
      padding-left: 40px;
    }
    .main .line {
      margin: 10px 0px 10px 100px;
    }
    .row {
      flex-direction: column;
      align-items: center;
    }
    .content-col,
    .img-col {
      width: 100%;
    }
  }
  
  /* Media Query for PCs (min-width: 1025px) */
  @media screen and (min-width: 1025px) {
    .logo {
      padding-left: 30px;
      padding-top: 50px;
    }
    .h-content {
      margin-top: 350px;
      margin-bottom: 250px;
    }
    .h-content h2 {
      font-size: 4vmin;
    }
    .h-content h1 {
      font-size: 7vmin;
    }
    .main {
      padding-top: 250px;
      padding-left: 40px;
    }
    .main h2 {
      font-size: 7vmin;
      padding-left: 70px;
    }
    .main .line {
      margin: 10px 0px 10px 300px;
    }
    .row {
      flex-direction: row;
      justify-content: space-around;
    }
    .content-col {
      width: 30%;
    }
    .img-col {
      width: 70%;
    }
  }